Source: dpkg-cross
Section: host-tools
Priority: extra
Maintainer: Alexander Shishkin <virtuoso@slind.org>
Uploaders:
 Wartan Hachaturow <wart@debian.org>,
 Alexander Shishkin <virtuoso@slind.org>,
 Sergey Lapin <slapin@slind.org>
Build-Depends-Indep: debhelper (>> 5), docbook-to-man
Build-Depends: debhelper (>> 5)
Standards-Version: 3.7.2

Package: dpkg-cross
Section: host-tools
Architecture: all
Depends: dpkg-dev (>= 1.13.9), binutils, file
Suggests: fakeroot
Conflicts: pkg-config (<< 0.15.0)
Description: tools for cross compiling Debian packages
 dpkg-cross itself is a tool for installing libraries and headers for
 cross compiling in a way similar to dpkg. Furthermore, the
 functionality of dpkg-buildpackage and dpkg-shlibdeps is enhanced to
 support cross compiling.
 .
 This a slind fork of dpkg-cross.

