#!/usr/bin/perl -w

use Debconf::Client::ConfModule qw(:all);

version("2.0");
my $capb=capb("backup");
#debug
#purge();
#fset("dpkg-cross/default-arch", "seen", "false");
beginblock();
title("Default cross-build architecture selection");
input("medium", "dpkg-cross/default-arch");
endblock();
go();
